<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8"/>
    <title>ReactMB</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/reactmb.css">

  </head>

  <body>

    <div id="content"></div>

    <script>
      window.article = '<%- article %>';
      window.title = '<%= title %>';
      window.loopComments = <%- loopComments %>;
      window.idposts = '<%- idposts %>';
      window.user = '<%- user %>';
    </script>
    <script src="../js/vendors.js"></script>
    <script src="../js/post.js"></script>

  </body>

</html>